<nav class="container-fluid">
	<ul>
		<a href="/">
			<svg
				class="logo"
				width="512"
				height="512"
				viewBox="0 0 512 512"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M482.169 331.901H408.805C406.653 350.487 402.153 366.236 395.306 379.148C388.654 391.864 378.774 401.548 365.667 408.2C352.754 414.852 335.832 418.178 314.898 418.178C297.682 418.178 282.912 414.754 270.586 407.907C258.261 401.059 248.088 391.375 240.067 378.854C232.241 366.334 226.372 351.367 222.459 333.956C218.742 316.348 216.884 296.784 216.884 275.264V239.169C216.884 216.475 218.938 196.324 223.046 178.717C225.739 167.579 229.235 157.552 233.536 148.635C215.5 126.5 189 119.5 172.081 118.079C172.081 118.079 159.566 142.501 154.964 156.414C146.943 181.26 142.933 209.041 142.933 239.756V275.264C142.933 305.979 146.845 333.76 154.671 358.606C162.692 383.452 174.235 404.679 189.299 422.286C204.363 439.698 222.459 453.197 243.588 462.783C264.717 472.174 288.487 476.869 314.898 476.869C349.331 476.869 378.579 470.609 402.642 458.088C426.706 445.567 445.389 428.449 458.692 406.733C471.996 384.821 479.821 359.878 482.169 331.901Z"
					fill="white"></path>
				<path
					d="M403.816 56.6387C380.339 44.1178 351.581 37.8574 317.54 37.8574C293.776 37.8574 272.088 41.5485 252.476 48.9307C276.5 60.5 296 75 315.144 96.8637C315.938 96.8494 316.736 96.8423 317.54 96.8423C338.082 96.8423 354.711 100.364 367.427 107.407C380.144 114.254 389.73 124.232 396.186 137.339C402.838 150.447 407.142 166.196 409.098 184.586H482.462C479.528 156.023 471.507 130.688 458.399 108.581C445.487 86.4735 427.292 69.1595 403.816 56.6387Z"
					fill="white"></path>
				<path
					d="M155.564 412.602H105.089V102.418H158.205C177.182 102.418 193.909 105.548 208.386 111.809C223.059 118.069 235.384 127.264 245.362 139.394C255.535 151.523 263.165 166.489 268.251 184.292C273.534 202.096 276.175 222.54 276.175 245.625V268.808C276.175 298.545 271.577 324.174 262.382 345.694C259.083 353.585 255.178 360.805 250.668 367.354C262.5 388.5 283 402 308.203 402.972C319.925 388.091 329.302 371.15 336.333 352.15C345.528 327.304 350.126 299.523 350.126 268.808V246.212C350.126 215.497 345.528 187.716 336.333 162.87C327.139 138.024 313.933 116.7 296.717 98.8965C279.696 81.0934 259.448 67.4966 235.971 58.106C212.495 48.5197 186.573 43.7266 158.205 43.7266H31.4316V471H155.564C176.572 471 196.125 468.594 214.226 463.781C190 448 173.5 428.5 163.332 412.43C160.785 412.545 158.196 412.602 155.564 412.602Z"
					fill="white"></path>
			</svg>
		</a>
	</ul>
	<ul></ul>
</nav>

<style>
	.logo {
		padding: 0.75rem;
		height: 64px;
		width: 64px;
		margin-right: 1rem;
	}
</style>
